.wrapper {
  @apply relative w-full;
  height: 200px;
}

.titleWrapper,
.faceWrapper {
  @apply absolute inset-0;
  @apply flex flex-col justify-end items-center;
  @apply opacity-0 transition-opacity duration-200;
}

.title {
  @apply font-heading text-primary uppercase text-4xl;
  @apply max-w-xs text-center pb-5;
  text-shadow: theme('boxShadow.funky');
}

.encouragement {
  @apply font-bold text-xl text-primary;
  @apply my-5;
}

.visible {
  @apply opacity-100;
}

/*
 * FACE
 */

.face {
  --primary: #ff88d9;
  --faceSize: 100px;
  --borderWidth: 3px;

  border: var(--primary) var(--borderWidth) solid;
  border-radius: 50%;
  box-sizing: content-box;
  height: var(--faceSize);
  width: var(--faceSize);
  position: relative;
}

/* EYES */
.face::before {
  --eyeOffset: 25px;
  --eyeSize: 15px;

  content: '';
  position: absolute;
  top: 25px;
  width: var(--eyeSize);
  height: var(--eyeSize);
  border-radius: 50%;
  background-color: var(--primary);
  left: var(--eyeOffset);
  box-shadow: calc(var(--faceSize) - (2 * var(--eyeOffset)) - var(--eyeSize)) 0 0 var(--primary);
}

.mouth {
  position: absolute;
  bottom: 15%;
  left: 12.5%;
  width: calc(0.75 * var(--faceSize));
  box-sizing: border-box;
  overflow: hidden;
  transition: all 500ms;
  transform: scaleY(-1);
}

.mouth.happy {
  transform: scaleY(1);
}

.mouth::before {
  --circleSize: calc(0.75 * var(--faceSize));

  content: '';
  position: absolute;
  width: var(--circleSize);
  height: var(--circleSize);
  border: var(--primary) var(--borderWidth) solid;
  box-sizing: border-box;
  border-radius: 50%;
  bottom: 0;
}
