.container {
  @apply min-h-screen;
  @apply flex flex-col justify-center items-center;
  @apply px-2;
}

.top,
.bottom {
  width: 100%;
  height: 50vh;
  min-height: 300px;
}

/* HEADER */
.top {
  @apply relative;

  & .titleWrapper,
  & .faceWrapper {
    @apply absolute inset-0;
    @apply flex flex-col justify-end items-center;
    @apply opacity-0 transition-opacity duration-200;

    &.visible {
      @apply opacity-100;
    }
  }

  & .title {
    @apply font-heading text-primary uppercase text-4xl;
    @apply max-w-xs text-center pb-5;
    text-shadow: theme('boxShadow.funky');
  }

  & .message {
    @apply font-bold text-xl text-primary;
    @apply my-5;
  }
}

.box,
.mobileDisclaimer {
  @apply border-primary border-2 border-solid rounded-super;
  @apply max-w-md w-full p-4;
  @apply relative overflow-hidden;
  @apply text-center;

  @screen md {
    @apply p-6;
  }
}

.box {
  @apply shadow-funky;
  margin: 0 auto;
  background-color: color-mod(theme('colors.neutral') blend(white 30%));

  &.loading {
    @apply cursor-not-allowed;

    &::before {
      content: '';
      @apply absolute inset-0;
      @apply bg-white opacity-50;
    }
  }
}

/* MOBILE DISCLAIMER */

.mobileDisclaimer {
  @apply mb-6;
}

/* FORM */

.form {
  &.hidden {
    visibility: hidden;
  }

  & .text {
    @apply mb-5;
  }

  & input,
  & button {
    @apply w-full p-3;
    @apply text-2xl text-center;
    @apply border border-solid rounded-md;
    @apply relative;

    &:not(:last-child) {
      @apply rounded-b-none;
    }

    &:not(:first-child) {
      @apply rounded-t-none;
      margin-top: -1px;
    }

    &:focus {
      @apply z-20;
    }

    &:disabled {
      @apply cursor-not-allowed;
    }
  }

  & input {
    @apply border-gray-500;
    @apply font-light;

    &:focus {
      @apply outline-none border-primary shadow-outline;
    }

    &:disabled {
      @apply bg-gray-200;
    }

    &:invalid {
      @apply outline-none border-red-600 z-10 shadow-none;
    }
  }

  & button {
    @apply border-primary;
    @apply text-primary;

    &:disabled {
      @apply border-gray-500;
      @apply text-gray-500;
    }
  }
}

/* SUCCESS */

.success {
  @apply absolute inset-0;
  @apply flex flex-col justify-center items-center text-xl;

  & span[role='img'] {
    @apply px-2;
  }

  & a {
    @apply font-bold underline;
  }
}

.confettiWrapper {
  width: 10px;
  margin: 0 auto;
}
